var config = {}

// You can get an API key here: http://useragentapi.com/
config.useragentapi = {key:'[CHANGE ME]'};
config.slack = {
	ualookup: {
		token: '[CHANGE ME]'
	}
};

module.exports = config;
